---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ namespace }}
  namespace: {{ namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ namespace }}-reader
rules:
- apiGroups: [""]
  resources: ["configmaps", "services", "pods", "namespaces"]
  verbs: ["get", "list", "watch"]
- apiGroups: ["apps"]
  resources: ["deployments", "statefulsets", "daemonsets"]
  verbs: ["get", "list", "watch"]
- apiGroups: ["networking.k8s.io"]
  resources: ["ingresses"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ namespace }}-reader
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ namespace }}-reader
subjects:
- kind: ServiceAccount
  name: {{ namespace }}
  namespace: {{ namespace }}
